server:
  port: 8080

spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    datasource:
      url: jdbc:mysql://localhost:3306/ktb_hackathon
      driverClassName: com.mysql.cj.jdbc.Driver
      username: ${MYSQL_USERNAME:root}
      password: ${MYSQL_PASSWORD:password}