server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DATABASE:ktb_hackathon}
    driverClassName: com.mysql.cj.jdbc.Driver
    username: ${MYSQL_USERNAME:admin}
    password: ${MYSQL_PASSWORD:adminadmin1234}
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  cloud:
    aws:
      s3:
        access-key: ${AWS_S3_ACCESS_KEY:test-access-key}
        secret-key: ${AWS_S3_SECRET_KEY:test-secret-key}
        bucket: ${AWS_S3_BUCKET:test-bucket}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:email@test.com}
    password: ${MAIL_PASSWORD:password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
      auth-code-expiration-millis: 180000

jwt:
  secret: ${JWT_SECRET:test-secret-key-test-secret-key-test-secret-key-test-secret-key}
  access-expiration-ms: ${ACCESS_EXPIRATION_MS:3600000}
  refresh-expiration-ms: ${REFRESH_EXPIRATION_MS:86400000}


springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
    groups.enabled: true

  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    display-request-duration: true
    persistAuthorization: true


ai:
  server:
    url: ${AI_SERVER_URL:http://localhost:5000}